@model IEnumerable<Employee>


@{ 
    ViewData["Name"] = "Employee";
}

<hr />
<h2>
    Employee
</h2>

<a class="btn btn-outline-primary" asp-action="Create">
    <i class="bi bi-person-plus"></i>
    Add Employee
</a>

<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No Employess Found !
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var emp in Model)
            {
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-2 poster rounded-circle" style="background-image:url(data:image\/*;base64,@(Convert.ToBase64String(emp.Image)))"></div>
                            <div class="col-md-10">
                                <div class="card-body d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <h5 class="card-title">
                                            <i class="bi bi-person"></i>
                                            @emp.Name
                                            
                                        </h5>
                                        
                                        <p class="card-text text-justify">
                                            <i class="bi bi-house-door"></i>
                                            @(emp.Address.Length > 500 ? $"{emp.Address.Substring(0,200)}...Read more" :emp.Address)
                                        </p>
                                    </div>
                                    @*================================*@
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text mb-0 mt-2">
                                            
                                            <small class="text-muted mr-3">
                                                <i class="bi bi-envelope-check"></i>
                                                @emp.Email
                                            </small><br />
                                            <small class="text-muted ">
                                                Birth of day
                                                <i class="bi bi-calendar-week m-1"></i>@emp.DateOfBirth
                                            </small>
                                        </p>
                                        @*============================================*@
                                        <div>
                                            <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@emp.Id">
                                                <i class="bi bi-person-vcard"></i>
                                                Details
                                            </a>
                                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@emp.Id">
                                                <i class="bi bi-pencil"></i>
                                                Edit
                                            </a>
                                            <a class="btn btn-danger js-delete" data-id="@emp.Id" href="javascript:;">
                                                <i class="bi bi-trash"></i>
                                                Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);
                // var result = Confirm('are you sure that you need to delete this employee');
                bootbox.confirm({
                    message: 'are you sure that you need to delete this Employee',
                    buttons: {
                        // Success Delete:-
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        // Cancel :-
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        //call Ajax
                        if (result) {
                            $.ajax({
                                url: '/Employees/Delete/' + btn.data('id'),
                                success: function () {
                                    var empContainer = btn.parents('.col-12');
                                    empContainer.addClass('animate__animated animate__zoomOut');
                                    setTimeout(function () {
                                        empContainer.remove();
                                    }, 2000);
                                    toastr.success('Movie is deleted');
                                },
                                error: function () {
                                    toastr.error('something went wrong');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}